{% extends 'base.html.twig' %}

{% block body %}
	<div class="p-5 mb-4 bg-light rounded-3">
		<div class="container-fluid py-5">

			<h1 class="display-5 fw-bold">Agence Lorem Ipsum</h1>
			<p class="col-md-8 fs-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut qui nemo magnam distinctio saepe atque consequuntur ad minus expedita. Ut debitis alias porro suscipit voluptates culpa esse voluptate ea commodi</p>
			{# <button class="btn btn-primary btn-lg" type="button">Example button</button> #}

		</div>

		<div class='container'>
			<h2>Les derniers biens</h2>
			<div class="div row">
			{% for property in proprietes %}
				<div class="col-md-4">
					{% include "property/_property.html.twig" %}
				</div>
			{% endfor %}
		</div>
		</div>
	</div>
{% endblock %}
