{% extends "base.html.twig" %}

{% block body %}

    <div class='container mt4'>
        <h2 id='testtiti'>Editer le Bien</h2>
        {{ include('admin/property/_form.html.twig', {form: form, button: 'Editer'}) }}
    </div>

{% endblock %}
