{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
      <div class="container-fluid py-5">
 
        <h1 class="display-5 fw-bold">Voir tous nos biens</h1>
      
    </div>
{% endblock %}